# Gradle
.gradle/
build/
**/build/

# Local SDK path
local.properties

# Android Studio
.idea/

# Kotlin
.kotlin/

# Native builds
.externalNativeBuild/
.cxx/

# IntelliJ
*.iml

# OS
.DS_Store
Thumbs.db